$wrap: 'smdp-category-scroll';

.#{$wrap} {
    padding: 0.25rem;
    $container: '-container';

    &#{$container} {
        --smdp-pc-display: grid;
        --smdp-pc-cols: 3;
        --smdp-pc-gap: 0.5rem;
        --smdp-pc-row-gap: 0.5rem;
        --smdp-pc-column-gap: 0.5rem;
        --smdp-pc-flex-wrap: nowrap;
        --smdp-pc-justify-content: flex-start;
        display: var(--smdp-pc-display);
        flex-wrap: var(--smdp-pc-flex-wrap);
        justify-content: var(--smdp-pc-justify-content);
        overflow-y: auto;
        grid-template-columns: repeat(var(--smdp-pc-cols), 1fr);
        gap: var(--smdp-pc-gap);
        row-gap: var(--smdp-pc-row-gap);
        column-gap: var(--smdp-pc-column-gap);
        padding: 10px 0;



        @media (min-width: 768px) {
            overflow-x: auto;
            overflow-y: hidden;
        }
    }

    $item: '-item';

    &#{$item} {

        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        text-align: center;
        overflow: hidden;
        background: #f0f0f033;
        padding: 0.5rem;
        border-radius: 3px;
        text-decoration: none;
        transition: background 0.3s ease;
        gap: 0.25rem;
        flex-wrap: wrap;
        font-size: 0.9em;
        position: relative;
        cursor: pointer;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        white-space: normal;




        @media (min-width: 768px) {
            min-width: 7rem;
        }

        &:hover {
            background: #f0f0f0;
        }

        &:active {
            background: #e0e0e0;
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }

        &-icon {
            width: 3.2em;
            height: 3.2em;
            margin-top: 2px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            display: inline-block;
        }


        &.with-icon {
            & .#{$wrap}#{$item}-count {
                position: absolute;
                top: 0.5em;
                right: 0.5em;
                font-size: 0.6em;
            }
        }

        &-count {
            color: #666;
            font-weight: 600;
            line-height: 1;
            text-align: center;
        }
    }
}


.clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* Limit to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.smdp {
    &-select2 {
        min-height: 4em;

        & li {


            & span {
                &.parent {
                    font-weight: 600;
                }

                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap:0.1em;

                & .icon {
                    width: auto;
                    height: 1.2em;
                }
            }
        }

        &-selection {
            & .cont {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 0.1em;

                & .icon {
                    width: auto;
                    height: 1.2em;
                }
            }


        }

        & option {

            background-repeat: no-repeat;
            background-position: left center;
            background-size: 16px;





            &[data-icon] {

                background-image: url(attr(data-icon));
            }
        }
    }
}